@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --font-ubuntu: "Ubuntu" , sans-serif;
  --font-roboto: "Roboto" , sans-serif;
  --font-dancing: "Dancing Script", "cursive";
  --font-pacifico:"Pacifico",sans-serif;
}
.header-bar-button{
    @apply lg:px-10 md:px-4 content-center hover:bg-[rgba(251,232,168,0.5)] cursor-pointer text-[rgba(26,32,2,1)] font-poppins font-medium inline-flex place-items-center
}
.button-evaluate-site{
  @apply py-3 rounded-t-xl border-1 mb-5 font-semibold hover:opacity-80 cursor-pointer
}
